.app-cont{
  display:flex;
}

.content{
  width: 100%;
}

.sidebar{
  min-height: 890px;}

.post-card{
  margin: 20px 50px;
}

.hashtag{
  margin: 0px 3px;
}

.recations{
  margin: 15px 0 0 0;
}

.cp{
  width: 80% ;
  margin-left: 10%;
  margin-top: 50px;
}